<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netty.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:label="@string/app_name">
        <service
            android:name="com.netty.client.android.service.RemoteService"
            android:exported="false"
            android:label="RemoteService" />
    </application>

</manifest>
